.film {

    margin-top: -37px;

    &__serie {
        
        display: flex;
        justify-content: center;
        column-gap: 4px;
        margin-bottom: 5px;

        &--logo {

            images {
                width: 10px;
            }

        }

        &--title {
            font-size: 10px;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            padding-top: 1.5px;
            color: $color-blanco;
            font-weight: 400;
        }

    }

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        images {
            width: 218px;
        }

    }

    &__category {

        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        
        &--list {

            display: flex;
            
            &--link {
                display: flex;
                padding-right: 5px;
                font-size: 14px;
                
                span {
                    color: $color-rojo;
                    padding-right: 6px;
                }
                
                p {
                    color: $color-blanco;
                }
                
            }
            
            &--four {
                padding-right: 0;
            }

        }

    }

    &__container {

        display: flex;
        justify-content: center;
        column-gap: 20px;
        align-items: center;
        margin-left: 25px;

        &--list {

            display: grid;
            justify-items: center;

            &--title {
                color: $color-blanco;
                font-size: 13px;
                font-weight: 400;
            }

        }

        &--play {

            display: flex;
            background-color: $color-blanco;
            padding: 10px 10px 8px;
            border-radius: 4px;

            &--icon {
                
                images {
                    padding: 2px 10px 0 3px;
                }

            }

            &--title {
                color: $color-negro;
                font-weight: 700;
                font-size: 16px;
                padding-right: 3px;
                letter-spacing: 0.1em;
                list-style: 21.2px;
            }

        }

    }

}