.film {

    margin-top: -37px;

    &__serie {
        
        display: flex;
        justify-content: center;
        column-gap: 4px;
        margin-bottom: 5px;

        &--logo {

            img {
                width: 10px;
            }

        }

        &--title {
            font-size: 10px;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
            padding-top: 2.5px;
            color: $color-blanco;
            font-weight: 400;
        }

    }

    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        img {
            width: 218px;
        }

    }

    &__category {

        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        
        &--list {

            display: flex;
            
            &--link {
                display: flex;
                padding-right: 5px;
                font-size: 14px;
                
                span {
                    color: $color-rojo;
                    padding-right: 6px;
                }
                
                p {
                    color: $color-blanco;
                }
                
            }
            
            &--four {
                padding-right: 0;
            }

        }

    }

    &__container {

        display: flex;
        justify-content: center;
        column-gap: 20px;
        align-items: center;
        margin-left: 25px;

        &--list {

            display: grid;
            justify-items: center;

            &--title {
                color: $color-blanco;
                font-size: 13px;
                font-weight: 400;
            }

        }

        &--play {

            display: flex;
            background-color: $color-blanco;
            padding: 10px 10px 8px;
            border-radius: 4px;
            cursor: pointer;

            &--icon {
                
                img {
                    padding: 2px 10px 0 3px;
                }

            }

            &--title {
                color: $color-negro;
                font-weight: 700;
                font-size: 16px;
                padding-right: 3px;
                letter-spacing: 0.1em;
                list-style: 21.2px;
            }

        }

    }

}

@media all and (min-width: 375px) {

    .film {

        &__serie {


            &--logo {

                img {
                    width: 11px;
                }

            }

        }

        &__logo {

            margin-bottom: 20.5px;

            img {
                width: 230px;
            }

        }

        &__category {

            column-gap: 4px;

            &--list {

                &--link {
                    font-size: 14.5px;
                }

            }

        }

        &__container {
            column-gap: 22px;

            &--list {

                &--icon {
                    padding-bottom: 2px;
                }

            }

            &--play {
                padding: 10px 12px 8px;
            }

        }

    }

}


@media all and (min-width: 414px) {

    .film {

        &__serie {

            &--title {
                padding-top: 4.5px;
                font-size: 10.5px;
            }

            &--logo {

                img {
                    width: 12px;
                }

            }

        }

        &__logo {

            margin-bottom: 21.5px;

            img {
                width: 260px;
            }

        }

        &__category {

            column-gap: 10px;
            margin-bottom: 26.5px;

            &--list {

                &--link {
                    font-size: 15px;
                }

            }

        }

        &__container {
            
            column-gap: 30px;
            
            &--list {
                
                
                &--icon {
                    
                    padding-bottom: 2.5px;
                    
                    &--check {
                        width: 16px;
                    }
                    
                    &--info {
                        width: 19px;
                    }
                    
                }
                
                &--title {
                    font-size: 13.5px;
                }
                
            }

            &--play {
                padding: 12px 15px 10px;

                &--icon {
                    
                    img {
                        padding: 1px 10px 0 3px;
                        width: 27px;
                    }

                }

                &--title {
                    font-size: 16.5px;
                }

            }

        }


    }

}