.footer {

    width: 92%;
    margin: auto;
    margin-top: 25px;

    &__social {

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;

        &--logo {

            &--fb {
                width: 27px;
            }

            &--ins {
                width: 26px;
            }

            &--twt {
                width: 29px;
            }

            &--yt {
                width: 32px;
            }

        }

    }

    &__links {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin: auto;
        margin-top: 22px;
        column-gap: 52px;
        // justify-items: center;

        &--box {

            display: grid;
            // padding-bottom: 15px;
            
            &--link {
                // display: block;
                color: $color-footer;
                font-size: 14px;
                line-height: 2.2;
            }

        }

        &--box1 {
            order: 1;
        }
        &--box2 {
            order: 3;
        }
        &--box3 {
            order: 2;
        }
        &--box4 {
            order: 4;
        }



    }

    &__button {

        margin-top: 22px;
        text-align: center;
        
        &--link {
            background-color: $color-fondo;
            color: $color-footer;
            font-size: 14px;
            border: 1px solid $color-footer;
            padding: 4px 46px 5px;
            outline: none;
            cursor: pointer;
        }

    }

    &__copyright {

        width: 85%;
        margin: auto;
        margin-top: 22px;

        &--text {
            text-align: center;
            color: $color-blanco;
            font-size: 12px;
            line-height: 157%;
            padding-bottom: 7.5px;
        }

    }

}

@media all and (min-width: 375px) {

    .footer {

        &__copyright {
            width: 90%;
        }

    }

}

@media all and (min-width: 414px) {

    .footer {

        &__social {

            &--logo {

                &--fb {
                    width: 29px;
                }
    
                &--ins {
                    width: 28px;
                }
    
                &--twt {
                    width: 31px;
                }
    
                &--yt {
                    width: 34px;
                }
    
            }

        }

        &__links {

            width: 85%;
            column-gap: 65px;

            &--box {

                &--link {
                    line-height: 2.4;
                }

            }

        }

        &__button {

            &--link {
                font-size: 14.5px;
                padding: 4px 50px 5px;
            }

        }

        &__copyright {
            
            width: 88%;

            &--text {
                font-size: 13px;
            }

        }

    }

}

@media all and (min-width: 425px) {

    .footer {

        &__copyright {

            width: 78%;

        }

    }

}

@media all and (min-width: 768px) {

    .footer {

        &__social {

            column-gap: 42px;

            &--logo {

                &--fb {
                    width: 32px;
                }
    
                &--ins {
                    width: 30px;
                }
    
                &--twt {
                    width: 33px;
                }
    
                &--yt {
                    width: 36px;
                }
    
            }

        }

        &__links {

            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            column-gap: 0;

            &--box {

                &--link {
                    font-size: 15px;
                }

            }

            &--box2 {
                order: 2;
            }
            &--box3 {
                order: 3;
            }

        }

        &__button {

            &--link {
                font-size: 18px;
                font-weight: 600;
                padding: 11px 98px;
            }

        }

        &__copyright {

            &--text {
                font-size: 16px;
            }

        }

    }

}

@media all and (min-width: 1024px) {

    .footer {

        &__links {

            &--box {

                &--link {
                    font-size: 15.25px;
                }

            }

        }

        
    

        &__copyright {

            &--text {
                font-size: 17px;
            }

        }

    }

}