.header {

    padding: 16px 12px 0;

    &__container {

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        
        &--right {
            
            display: flex;
            align-items: center;
            column-gap: 17px;

            &--search {
                cursor: pointer;
            }

            &--gift {
                display: none;
                cursor: pointer;
            }
            
            &--notification {
                display: none;
                cursor: pointer;
            }

            &--avatar {
                cursor: pointer;
                width: 25px;
            }

        }

    }

}

@media all and (min-width: 375px) {

    .header {
        padding: 16px 13.5px 0;
    }

}

@media all and (min-width: 414px) {

    .header {
        padding: 16px 15px 0;

        &__container {

            &--right {

                &--search {

                    img {
                        width: 22px;
                    }

                }

                &--avatar {
                    width: 31px;
                }

            }


        }

    }

}

@media all and (min-width: 768px) {

    .header {

        padding: 0;
        padding-top: 26px;

        &__container {

            &--left {

                &--logo {

                    img {
                        width: 120px;
                    }
                }

            }

            &--right {

                column-gap: 28px;

                &--search {
                    
                    img {
                        width: 21px;
                    }

                }

                &--gift {
                    display: block;
                    width: 23px;
                }
                
                &--notification {
                    display: block;
                    width: 23px;
                }
                
                &--avatar {
                    
                    img {
                        width: 28px;
                    }

                }

            }

        }

    }

}

@media all and (min-width: 834px) {

    .header {

        &__container {

            &--left {

                &--logo {

                    img {
                        width: 129.25px;
                    }

                }

            }

            &--right {

                column-gap: 33px;

                &--search {
                    
                    img {
                        width: 22.8px;
                    }

                }

                &--gift {
                    display: block;
                    width: 27.15px;
                }
                
                &--notification {
                    display: block;
                    width: 25px;
                }
                
                &--avatar {
                    
                    img {
                        width: 30.41px;
                    }

                }

            }

        }

    }

}

@media all and (min-width: 1024px) {

    .header {

        &__container {

            &--left {

                &--logo {

                    img {
                        width: 140px;
                    }

                }

            }

            &--right {

                column-gap: 35px;

                &--search {
                    
                    img {
                        width: 25px;
                    }

                }

                &--gift {
                    display: block;
                    width: 29px;
                }
                
                &--notification {
                    display: block;
                    width: 27px;
                }
                
                &--avatar {
                    
                    width: 32px;

                    img {
                        width: 33px;
                    }

                }

            }

        }

    }

}

@media all and (min-width: 1440px) {

    .header {

        &__container {

            &--right {

                &--avatar {
                    width: 36px;

                    img {
                        width: 35px;
                    }

                }

            }

        }

    }

}