$calc: 35px;
.list,
.continue,
.originals,
.tendencias,
.worthy,
.dramas,
.youth,
.comedy {
    margin-top: 26px;
    padding-left: 12px;

    &--title {
        color: $color-blanco;
        font-size: 17px;
        font-weight: 600;
    }

    &__container {

        position: relative;

        &--previous,
        &--after {

            display: none   ;
            // visibility: hidden;
            position: absolute;
            border: none;
            width: 10px;
            cursor: pointer;
            top: calc(50% - #{$calc / 2});
            line-height: 30px;
            text-align: center;
            background: none;
            opacity: 70%;

        }

        &--previous:hover,
        &--after:hover {
            opacity: 100%;
        }

        &--previous {
            left: 0;
            z-index: 5;
        }
        
        &--after {
            right: 0px;
            z-index: 5;
        }

        &--carousel {
            overflow: hidden;
        }


    }

    .glider-dots {
        visibility: hidden;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .glider-dot {
        display: block;
        width: 30px;
        height: 4px;
        background-color: $color-rojo;
        opacity: .2;
        border-radius: 0;
    }
    
    .glider-dot:hover {
        opacity: .5;
    }
    
    .glider-dot.active {
        opacity: 1;
    }

    .glider-slide-original {
        min-width: 201px;
    }
    
}

.glider-track {
    width: auto !important;
    column-gap: 6px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.glider-slide {
    min-width: 141px;
}

@media all and (max-width: 375px) {

    .list,
    .continue,
    .originals,
    .tendencias,
    .worthy,
    .dramas,
    .youth,
    .comedy {

        &--title {
            font-size: 17.5px;
        }

    }

}

@media all and (min-width: 414px) {
    
    .list,
    .continue,
    .originals,
    .tendencias,
    .worthy,
    .dramas,
    .youth,
    .comedy {

        margin-top: 26.5px;

        &--title {
            font-size: 18.5px;
        }

    }

}

@media all and (min-width: 767px) {

    .list,
    .continue,
    .originals,
    .tendencias,
    .worthy,
    .dramas,
    .youth,
    .comedy {

        &__container {

            &--previous,
            &--after {
                display: block !important;
                width: 25px;
                // visibility: visible !important;
            }

        }
    }

    .glider-dots {
        visibility: visible !important;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .glider-track {
        width: fit-content !important;
        column-gap: 6px;
        overflow: hidden;
    }
    

}

