.main {
    
    background-image: url("../images/mobile/background-strange.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;

    &__container {

        display: flex;
        justify-content: center;
        column-gap: 45px;
        margin-top: 21px;

        &--link {
            color: $color-blanco;
            font-weight: 600;
        }

    }

}

@media all and (min-width: 375px) {

    .main {

        height: 401px;

        &__container {
            column-gap: 48px;

            &--link {
                font-size: 16.5px;
            }

        }

    }

}

@media all and (min-width: 414px) {

    .main {

        height: 420px;

        &__container {
            column-gap: 60px;

            &--link {
                font-size: 17px;
            }

        }

    }

}